<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông Tin Người Dùng</title>
</head>
<body>
<h1>Thông Tin Người Dùng</h1>
<p>Tên: <span th:text="${user.name}"></span></p>
<p>Email: <span th:text="${user.email}"></span></p>
<p>Tuổi: <span th:text="${user.age}"></span></p>

<a th:href="@{/user/edit/{id}(id=${user.id})}">Chỉnh Sửa Thông Tin</a>
</body>
</html>